<!DOCTYPE html>
<html lang = "zh">
  <head>
    <meta charset = 'utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name ="keywords" content="安徽1919，酒品直营" />
    <meta name ="description" content="全国首家酒品直营店，全国低价，同城速递，值得您拥有" />
    <meta name="author" content="gewuit">

    <title>安徽1919,全国首家白酒直营店</title>
    <link rel = "stylesheet" type = "text/css" href = "Lib/css/bootstrap.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "Lib/css/bootstrap-theme.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/wineweb.css" />
    <script src ="Lib/js/jquery-2.0.3.min.js"></script>
    <script src ="Lib/js/bootstrap.min.js"></script>
    <script src ="js/wineweb.js"></script>

  </head>
  <body>

      <!-- navbar on the top -->

      <div class="masthead">
        <h3 class="text-muted topbrand">安徽1919<span style="padding-left:30px;">客服平台<span></h3>
        <ul class="nav nav-justified">
          <li class = "unprocessed_li">
            <a href="/unprocessed">未处理
              <span id="unprocessed_number" class="badge"><%= numberUnprocessed > 0 ? numberUnprocessed:""%></span>
            </a>
          </li>
          <li class = "unshipped_li">
            <a href="/unshipped">
            未发货</span>
            </a>
          </li>
          <li class = "shipped_li"><a href="/shipped">已发货</a></li>
          <li class = "received_li"><a href="/received">已收货</a></li>
          <li class = "search_li"><a href="/search">查询</a></li>
          <li class = "question_li">
            <a href="/questionorder">疑难订单
              <span class="badge"><%= numberQuestion > 0 ? numberQuestion:""%></span>
            </a>
          </li>
          <li class = "new_li"><a href="/neworder">创建订单</a></li>
        </ul>
      </div>
      <div id = "mainbody" class ="container">
        <div class="row">
          <div class="span10 leftdiv">
