</div>
    <!--all the javascripts-->
     <script src ="../Lib/js/jquery-2.0.3.min.js"></script>
     <script src ="../Lib/js/bootstrap.min.js"></script>
     <script src ="../js/main.js"></script>
  </body>
</html>