<!DOCTYPE html>
<html lang = "zh">
  <head>
    <meta charset = 'utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name ="keywords" content="安徽1919，酒品直营" />
    <meta name ="description" content="全国首家酒品直营店，全国低价，同城速递，值得您拥有" />
    <meta name="author" content="gewuit">

    <title>安徽1919,全国首家白酒直营店</title>
    <link rel = "stylesheet" type = "text/css" href = "Lib/css/bootstrap.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "Lib/css/bootstrap-theme.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/wineweb.css" />
    <script src ="Lib/js/jquery-2.0.3.min.js"></script>
    <script src ="Lib/js/bootstrap.min.js"></script>
    <script src ="js/wineweb.js"></script>

  </head>
  <body>

      <!-- navbar on the top -->

      <div class ="navbar navbar-default navbar-fixed-top" role ="navigation">
        <div class = "container">
            <div class = "navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">安徽1919</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class ="navbar-brand"  href = "#">安徽1919</a>
            </div>
            <div class ="navbar-collapse collapse" id ="actionclass">
              <ul class="nav navbar-nav" role="tablist">
                  <li class = "unprocessed_li"><a href="/unprocessed">未处理</a></li>
                  <li class = "unshipped_li"><a href="/unshipped">未发货</a></li>
                  <li class = "shipped_li"><a href="/shipped">已发货</a></li>
                  <li class = "received_li"><a href="/received">已收货</a></li>
                  <li class = "search_li"><a href="/search">查询</a></li>
                  <li class = "question_li"><a href="/questionorder">疑难订单</a></li>
                  <li class = "new_li"><a href="/neworder">创建订单</a></li>
              </ul>
              <div class="navbar-right" style="padding-top:14px">
                    <div style="display:inline-block">
                        <label>未处理数：</label>
                        <span><%= numberUnprocessed%></span>
                    </div>
                    <div style="display:inline-block;padding-left:20px">
                        <label>今日已处理数：</label>
                        <span><%= numberProcessedToday%></span>
                    </div>
                </div>
            </div>
        </div>
      </div>  <!-- navbar ends-->




      <!--main body for different tab-->

      <div id = "mainbody" class ="container">
        <div class="row">
          <div class="span10 leftdiv">
