    </div>    <!-- Leftdiv Ends-->
    <div class="span2 rightdiv">
      <div class="panel panel-success" name="alert_delete">
            <div class="panel-heading">
                <h3 class="panel-title" id="urgency">信息提示栏</h3>
            </div>
            <div id="urgent_form">
              <ul class="list-group">
                <li class="list-group-item list-head" id="urgent_form_head">
                  <span class="label label-danger">急需解决</span>
                </li>
                <% for(var i = 0;i < urgentprocess.length;i++){%>
                <li class="list-group-item">
                  <a href="#" class = 'question_orderID'>订单号：<span><%= urgentprocess[i].orderID %></span></a><br>
                  <p class="urgentform_text">问题描述：</p>
                  <p class="urgentform_text"><%= urgentprocess[i].notes %></p>
                </li>
                <%}%>
              </ul>


              <ul class="list-group" style="padding-bottom:0px">
                <li class="list-group-item list-head" id="urgent_form_head">
                  <span class="label label-warning">已经解决</span>
                </li>
                <% for(var i = 0;i < urgentprocessed.length;i++){%>
                <li class="list-group-item">
                  <a href="#" class = 'question_orderID'>订单号：<span><%= urgentprocessed[i].orderID %></span></a><br>
                  <p class="urgentform_text">问题描述：</p>
                  <p class="urgentform_text"><%= urgentprocessed[i].notes %></p>
                </li>
                <%}%>
              </ul>
            </div>
        </div> <!-- panel ends -->
    </div>    <!-- right div ends-->
  </div>
</div>
<!--模态框-->
<div class="modal fade" id="alert_delete" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
</div>
</body>
</html>