<div class="order_item">
    <div class ="unshipped_summaryinfo row">
        <div class="ordertime col-xs-3"><label>订单时间：</label><b><span>2014-07-25</span></b></div>
        <div class="orderid col-xs-6"><label>订单编号：</label><b><span>f20140725213849478322</span></b></div>
        <div class="orderstatus col-xs-3"><label>订单状态：</label><span style="color: #CC0033;"><b>未发货</b></span></div>
    </div>
    <div class="orderinfo row">
        <div class="col-xs-8">
            <div class ="orderdetails">
                <label>订单详情：</label>
                <ul class ="detaillist">
                    <li>
                        <div class ="row">
                            <div class ="wineinfo col-xs-6">
                                51度口子窖500ml装
                            </div>
                            <div class ="wineprice col-xs-3">
                                单价(元)：<span>128</span>
                            </div>
                            <div class ="winenumber col-xs-3">
                                数量：<span>5</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class ="row">
                            <div class ="wineinfo col-xs-6">
                                51度口子窖500ml装
                            </div>
                            <div class ="wineprice col-xs-3">
                                单价(元)：<span>128</span>
                            </div>
                            <div class ="winenumber col-xs-3">
                                数量：<span>5</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class ="pricedetails row">
            <div class ="col-xs-4 totalprice">
                <label>总价(元)：<span>1000</span></label>
            </div>
            <div class ="col-xs-4 cashuse">
                <label>现金券(元)：<span>200</span></label>
            </div>
            <div class ="col-xs-4 cashneeded">
                <label>需付现金(元)：<span>800</span></label>
            </div>
            </div>
        </div>
        <div class ="col-xs-4">
            <div class ="form-group">
                <label>联系方式</label>
                <input type="tel" class ="form-control" readonly="true" value ="13898999892" required/>
            </div>
        </div>
    </div>
    <div class ="addressinfo row">
        <div class ="form-group col-xs-5">
            <label>地址：</label>
            <textarea  class ="form-control" readonly ="readonly">阜阳市颖下县人民政府</textarea>
        </div>

        <div class ="col-xs-4,col-xs-offset-1">
            <label>选择快递：</label>
            <input type="tel" class ="form-control" readonly="true" value ="一号快递车" required/>
        </div>
    </div>
</div>