<%include layoutTop%>
<script type ="text/javascript">
  $(document).ready(function(){
    $("li.question_li").addClass('active');
  });
</script>

<div>
  <ul id = "orderlist">
  <% orders.forEach(function(order_abstract){ %>
    <% include questionorder_abstract %>
  <%})%>
  </ul>
</div>
<%include layoutBottom%>