<%include layoutTop%>
<script type ="text/javascript">
  $(document).ready(function(){
    $("li.shipped_li").addClass('active');
  });

</script>

<div>
  <p style = 'font-size:18px'>订单总数：<span><%= shiporders.length %></span></p>
  <ul id = "orderlist">
  <% shiporders.forEach(function(order_abstract){ %>
    <% include order_abstract %>
  <%})%>
  </ul>

</div>
<%include layoutBottom%>