/* Description:
   This file stipulates css for wine-service-web.
*/

/* main */
#mainbody {
  margin-top: 40px;
}

.navbar-brand {
  font-size:24px;
  color:#000;
  font-weight:bolder;
  pointer-events:none;
  cursor:default;
}
span.badge{
  background-color : #ee0000;
}
ul > li {
  list-style:none;
}

ul#orderlist > li {
  border-style:inset;
  border-color:#d0d0d0;
  border-width:1px;
  border-radius:10px;
  margin-top:15px;
}

label {
  font-size:16px;
}

.summaryinfo{
  margin-left:0px;
  margin-right:0px;
}

.text_right{
  float: right;
  padding-right: 30px;
}

.rightdiv{
  background-color: #ECF0F1;
  width: 20%;
  float: right;

  border-radius: 3px 3px 3px 3px;
}
.leftdiv{
  margin-right: 3%;
  width: 77%;
  float: left;
  border-radius: 3px 3px 3px 3px;
}

.form_state{
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}


#urgency{
  text-align: center;
  font-weight: bold;
  font-size: 24px;

}

#urgent_form_head{
  text-align: center;
  font-size: 30px;
  padding-top:5px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.urgentform_text{
  display: inline-block;
  font-weight: normal;
}

.topbrand{
  margin-left: 100px;
  font-size: 24px;
  font-weight: bold;
}
.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

.
/*unprocessed*/

.order_num{
  font-weight: bold;
  padding-left: 0px;
/*TODO: alignment*/
}

.order_date{
  font-weight: bold;
  margin-left: 20px;
}

.username_input{
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  height: 30px;
  padding-left: 10px;
}

.button_check{
  width: 120px;
}

.button_margin{
  margin: 10px;
}
.center{
   margin: 0 auto;
}

.text_inline{
  display: inline-block;
}

.select_inline{
  display: inline-block;
  width: 100px;
}

.alert_text{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

div#detail_modal div.modal-dialog{
  width:77%;
}

.table_text > tr > th{
  font-weight: 100;
}

.list_head{
  padding-left: auto;
}

#radios > label{
  padding: 2px 0px 2px 20px;
  font-weight: 100;
}

.inputrequired,.formaterror{
  padding-left: 10px;
  color : red;
  font-size: 12px;
  display: none;
}

/* unshipped */

#time_consumed{
  display:inline-block;
  margin-bottom:0px;
  color:#FF645D;
  font-weight: bold;
}

/* shipped */

/* received */

/* search */

.factor_inline{
  display: inline-block;
}

div.search{
  border-bottom: inset 1px;
  padding-bottom: 10px;
}

/*questionorder*/


/*new order*/
input.winewechatprice,input.winenumber{
  width: 50px;
  height: 25px;
}
select.winedescribe,select.winewechatprice{
  height: 25px;
}

textarea.address_detail{
  margin-top:10px;
  height:35px;
}